@keyframes empty {}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translate(-100%, -100%) rotate(-180deg) scale(1%);
  }
  30% {
    opacity: 1;
    transform: translate(0%, 0%) rotate(0deg);
  }
  60% {
    transform: translate(3%, 3%);
  }
  90% {
    transform: translate(0%, -7%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes walk {
  0% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
  20% {
    transform: scale(120%) rotate(20deg);
  }
  100% {
    opacity: 0;
    transform: translate(50%, 0%) rotate(45deg) scale(150%);
    filter: drop-shadow(-10em 10em 20em #0008);
  }
}

@keyframes catch {
  0% {
    transform: translate(0%, 0%);
  }
  30% {
    transform: translate(0%, 0%);
  }
  60% {
    transform: translate(3%, 3%);
  }
  80% {
    transform: translate(0%, -6%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

@keyframes launch {
  0% {
    transform: scale(100%) rotate(0deg);
  }
  20% {
    transform: scale(110%) rotate(10deg);
  }
  100% {
    transform: scale(100%) rotate(0deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(100%);
  }
  20% {
    transform: scale(110%);
  }
  100% {
    transform: scale(100%);
  }
}
